  <key>LSUIElement</key>
  <true/>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>SUFeedURL</key>
  <string>https://github.com/msdx321/proxybear/releases/latest/download/appcast.xml</string>
  <key>SUPublicEDKey</key>
  <string>zXUGo8jgBPtA5W5NnryAq596hACbyLK1kQdSwhcBL+U=</string>
